#services {
    padding: 40px 0;
}

.title{
    padding: 0 5px;
}


#services .service-box .service-card {
    transition: .5s;
    border: 2px solid #eee;
    margin: 10px 0;
    padding: 20px;
    height: 100%;
}

#services .service-box .service-card:hover {
    border: 1px solid green;
    transition: .5s;
}