#services {
    padding: 40px 0;
}

.title {
    padding: 0 5px;
}


#services .service-box .service-card {
    transition: .5s;
    border: 3px solid #eee;
    margin: 10px;
    padding: 20px;
    height: 100%;
    position: relative;
}

#services .service-box .service-card::before {
    content: '';
    width: 100%;
    height: 0;
    background: blue;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: bottom;
    /* transform: skewX(30deg) rotate(360deg) scale(3); */
    transform: rotateY(50deg);
    transition: .5s;
    color: #fff;
    z-index: -1;
    opacity: 0;
}

#services .service-box .service-card:hover::before {
    height: 100%;
    right: 0;
    transform-origin: top;
    background: green;
    /* transform: skewY(0) rotate(0deg) scale(1); */
    transform: rotateY(0deg);
    bottom: 0;
    opacity: 1;
    transition: .4s;
}

#services .service-box .service-card:hover img {
    background: #fff;
    border-radius: 5dvh;
    border: 3px solid #eee;
    background-position: center;
    transition: .4s;
    background-size: cover;
    background-repeat: no-repeat;
}

#services .service-card:hover p {
    color: #fff!important;
    transition: .2s ease-in-out;
    user-select: none;
}
#services .service-card:hover h4 {
    color: #fff!important;
    transition: .2s ease-in-out;
    user-select: none;
}

#services .service-box .react-multi-carousel-dot--active button {
    background-color: blue !important;
}

#services .service-box .react-multi-carousel-dot button {
    border: 2px solid #111 !important;
    background-color: #fff;
}

#services .service-box .react-multi-carousel-track {
    padding: 20px 0;
}

#services .service-box .react-multi-carousel-list {
    padding: 20px 0;
}

#services .service-box .service-card:hover {
    border: 3px solid #fff;
    transition: .5s;
}