#team-slider {
    padding: 60px 0;
}

#team-slider .team-slider-card {
    padding: 20px 10px;

}

.team-slider-card .team-item {
    padding: 20px 10px;
    margin: 10px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    box-shadow: -2px -2px 5px #eee, 2px 2px 5px #eee;
    z-index: 1;
}

.team-slider-card .team-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: blue;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
    transform: rotateY(50deg);
}

.team-slider-card .team-item:hover::after {
    height: 100%;
    border-radius: 10px;
    transform: rotateY(0deg);
}

.team-slider-card .team-item:hover h5 {
    transition: .5s;
    color: #fff !important;
}

.team-slider-card .team-item:hover p {
    color: #fff !important;
    transition: .5s;
}

.team-slider-card .team-item h5 {
    font-size: 18px;
    font-weight: 500;
}

.team-slider-card .team-item p {
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0;
}

.team-slider-card .team-item .social {
    padding: 20px 0;
}

.team-slider-card .team-item .social a {
    font-size: 20px;
    color: black;
    border-radius: 30px;
    padding: 10px;
    background-color: #fff;
    margin: 0 5px;
    border: 2px solid #eee;
}

.team-slider-card .team-item .social a:hover {
    background-color: green;
    color: #fff;
    box-shadow: -2px -2px 5px #eee, 2px 2px 5px #eee;
    border: 2px solid #fff;
}



#team-slider .react-multi-carousel-dot--active button {
    background-color: blue !important;
}

#team-slider .react-multi-carousel-dot button {
    border: 2px solid #111 !important;
    background-color: #fff;
}

#team-slider .react-multi-carousel-track {
    padding: 20px 0;
}

#team-slider .react-multi-carousel-list {
    padding: 20px 0;
}
